.gap {
    display: grid;
    gap: 2rem;
}

.order-total {
    padding: 1.8rem;
    border-radius: .5rem;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.person-total-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.person-total-item {

}

.total-ticket-price {
    text-align: center;
    margin: 0;
}

.center {
    text-align: center;
}