.cabin-heading {
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.floor-plan {
    position: relative;
}

.floor-plan-background {

}

.cabin-floor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.8rem;
    border-radius: .5rem;
    background-color: lightgray;
}

.floor-buttons {
    transform: translateY(.2rem);
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.floor-button {
    display: flex;
    height: 3.5rem;
    width: 3.5rem;
    display: block;
    border: none;
    background-color: transparent;
}

.current-floor {
    font-size: 2.8rem;
}

.current-floor-text {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 400;
}

.current-floor-number {
    text-align: center;
    font-weight: 400;
    margin: 0;
}

.floor-plan-overlay {
    margin-top: -2px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(46, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.cabin-container {
    position: relative;
}

.cabin-info {
    visibility: hidden;
    position: absolute;
    transform: translate(.5rem, -.5rem);
    background-color: white;
    border: 1px solid lightgray;
    border-radius: .3rem;
    opacity: 0;
    transition: all .1s linear;
    padding: 1rem;
    z-index: 1000;
}

.cabin-type {
    margin: 0;
}

.cabin-spec-row {
    margin: 0;
    margin-bottom: .5rem;
}

.cabin-specs {
    font-size: 1.3rem;
}

.cabin-spec {
    font-weight: 700;
}

.spec-cell {
    white-space: nowrap;
}

.cabin-info-visible {
    visibility: visible;
    opacity: 1;
}

.cabin {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: lightblue;
    border: 1px solid gray;
    font-size: .8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .1s linear;
}

.cabin:hover {
    background-color: lightcoral;
}

.cabin-select {
    background-color: lightcoral;
}

.cabin-total {
    border-radius: .5rem;
    background-color: lightgray;
    padding: 2.8rem;
}

.cabin-total-heading {
    margin: 0 0 2rem 0;
}

.cabin-total-list {
    display: grid;
    gap: 2rem;
}

.selected-cabin {
    border-radius: .3rem;
    background-color: #DFDFDF;
    padding: 1rem;
}

.selected-cabin-text {
    margin: 0;
}

.cabin-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cabin-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bold {
    font-weight: 700;
}

.cabin-stat > * {
    text-align: center;
}

#c1 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 30;
    grid-column-end: 33;
}

#c2 {
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 30;
    grid-column-end: 33;
}

#c3 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 27;
    grid-column-end: 30;
}

#c4 {
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 27;
    grid-column-end: 30;
}

#c5 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 24;
    grid-column-end: 27;
}
#c6 {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 24;
    grid-column-end: 27;
}

#c7 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 21;
    grid-column-end: 24;
}

#c8 {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 21;
    grid-column-end: 24;
}

#c9 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 17;
    grid-column-end: 19;
}

#c10 {
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 17;
    grid-column-end: 19;
}

#c11 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 17;
    grid-column-end: 15;
}

#c12 {
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 15;
    grid-column-end: 17;
}

#c13 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 13;
    grid-column-end: 15;
}

#c14 {
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 13;
    grid-column-end: 15;
}
#c15 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 11;
    grid-column-end: 13;
}

#c16 {
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 11;
    grid-column-end: 13;
}
#c17 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 9;
    grid-column-end: 11;
}
#c18 {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 9;
    grid-column-end: 11;
}
#c19 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 7;
    grid-column-end: 9;
}
#c20 {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 7;
    grid-column-end: 9;
}
#c21 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 7;
}
#c22 {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 5;
    grid-column-end: 7;
}
#c23 {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 8;
    grid-column-end: 10;
}
#c24 {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 6;
    grid-column-end: 8;
}
#c25 {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 5;
}
#c26 {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 5;
}