.navbar {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    padding: 0 2.8rem;
    z-index: 1000;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    list-style-type: none;
    gap: 1rem;
}

.nav-list-item {
    padding: .5rem;
}

.nav-link:link {
    color: rgb(10, 23, 46);
    text-decoration: none;
}

.nav-link:visited {
    color: rgb(10, 23, 46);
}

.nav-link:hover {
    text-decoration: underline;
}

.logo {
    font-size: 2rem;
    letter-spacing: .01em;
}