*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /* (1) */
  height: 100%; /* (2) */
  width: 100%; /* (2) */
  overflow-y: scroll; /* (3) */
}

body {
  box-sizing: border-box; /* (1) */
  margin: 0; /* (2) */
  font-size: 1.6rem; /* (4) */
  font-family: sans-serif; /* (5) */
  color: #1b1b1b; /* (6) */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}