.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-label {
}

.form-input {
    height: 3.16rem;
    border-radius: .3rem;
    border: 1px solid gray;
    padding: 0 .5rem;
}

.valid {
    background-color: #b6dcb6;
}

.nonvalid {
    background-color: #dec2c2;
}