.form-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-label {
    
}

.form-input {
    height: 3.16rem;
    border-radius: .3rem;
    border: 1px solid gray;
    padding: 0 .5rem;
}

.valid {
    border-color: #b6dcb6;
}

.nonvalid {
    border-color: rgb(207, 0, 0);
}

.form-error-message {
    color: rgb(126, 0, 0);
}