.search-box {
    display: grid;
    align-items: center;
    gap: 3rem;
    padding: 2.8rem;
    border: .5rem;
    max-width: 40rem;
    margin: 0 auto;
}

.search-text {
    font-weight: 400;
    text-align: center;
}

.search-button {
    padding: 1rem 1.8rem;
    background-color: rgb(0, 69, 219);
    border-radius: .3rem;
    color: white;
    border: none;
}

.search-button:hover {
    background-color: rgb(1, 57, 179);
}